<a role="button" href="/tickets/take" class="btn btn-default"> Atender ao Próximo Disponível </a>

<h2>Tickets Abertos</h2>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Criado em</th>
      <th>Atualizado em</th>
      <th>Uid</th>
      <th>Perfil</th>
      <th>Respondido</th>
      <th>Em Progresso</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= time_ago_in_words(ticket.created_at) %></td>
        <td><%= time_ago_in_words(ticket.updated_at) %></td>
        <td><%= ticket.uid %></td>
        <td><%= ticket.skill %></td>
        <td><%= ticket.served %></td>
        <td><small><%= ticket.progress %></small></td>
        <td><%= link_to 'Atender', action: 'take', id: ticket.id %></td>
        <td><%= link_to 'Eliminar', ticket, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

 // reload this page 
 var reloadTimer = setInterval(function() { window.location.reload(true); }, 5000);

 $(window).on('beforeunload', function() {
   clearTimeout(reloadTimer);
 });

</script>
