<p id="notice"><%= notice %></p>

<p>
  <strong>Criado em:</strong>
  <%= local_time(@ticket.created_at) %>
</p>

<p>
  <strong>Atualizado em:</strong>
  <%= local_time(@ticket.updated_at) %>
</p>

<p>
  <strong>Atendido por:</strong>
  <%= @ticket.user && @ticket.user.name %>
</p>

<p>
  <strong>Chave:</strong>
  <%= @ticket.key %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @ticket.uid %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @ticket.displayname %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @ticket.skill %>
</p>

<p>
  <strong>Served:</strong>
  <%= @ticket.served %>
</p>

<p>
  <strong>User Agent:</strong>
  <%= @ticket.useragent %>
</p>

<p>
  <strong>Endereço IP:</strong>
  <%= @ticket.ipaddress %>
</p>

<p>
  <strong>Progresso:</strong>
  <%= @ticket.progress %>
</p>

<div class="container well">
  <h4>CloudRecorder Callbacks</h4>

  <p>
    <strong>Título:</strong>
    <%= @ticket.cr_title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @ticket.cr_status %>
  </p>


  <p>
    <strong>Webm_s3url:</strong>
    <a href="<%= @ticket.cr_webm_s3url %>" target=_new> <%= @ticket.cr_webm_s3url %> </a>
  </p>

  <p>
    <strong>Mp4_s3url:</strong>
    <a href="<%= @ticket.cr_mp4_s3url %>" target=_new> <%= @ticket.cr_mp4_s3url %> </a>
  </p>

  <p>
    <strong>Vb_fileurl:</strong>
    <a href="<%= @ticket.cr_vb_fileurl %>" target=_new> <%= @ticket.cr_vb_fileurl %> </a>
  </p>

</div>


<%= link_to 'Editar', edit_ticket_path(@ticket) %>
