<!DOCTYPE html>
<html>
<head>
  <title>LigaLiga Tickets</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
  <% if @loadrtcc %>
    <script src="//download.rtccloud.net/js/webappid/<%= RTCC_APP_ID %>" ></script>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <style>
   body { padding-top: 10px; }
   footer { margin-top: 10px; }
  </style>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
